.about_body {
    background-image: url(../img/about.jpg);
background-position: right;
background-repeat: no-repeat;
background-size: 76%;
background-attachment: scroll;
}

.menu{
    list-style: none;
    line-height: 2.0;
    width: 50px;
}

.list_home {
    color: dimgrey;
    text-decoration: none;

}

.list_about {
    color: dimgrey; 
    text-decoration: none
}

.list_music{
    color: dimgrey;
    text-decoration: none
}

.list_contact {
    color: dimgrey;
    text-decoration: none
}

.about_body {
    font-family: 'Open Sans', sans-serif;
}

.redes_sociales {
    margin-left: 40px;
}

.about_emilia {
    color:rgb(78, 78, 78);
    margin-top: 80px;
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
}

.parrafos_varios {
    color: rgb(84, 156, 161);
    font-family: 'Open Sans', sans-serif;
}

.parrafo_grande {
    font-size: 23px;
    background-color: rgba(240, 248, 255, 0.374);
}
.parrafo_chico {
    font-size: 12px;
    background-color: rgba(240, 248, 255, 0.374);
}
a {
    color: black;
    text-decoration: none;
}
